[submodule "paf-formal/paf"]
	path = paf-formal/paf
	url = git@github.com:MathieuSnd/paf-riscv.git
[submodule "riscv-formal"]
	path = riscv-formal
	url = git@github.com:MathieuSnd/riscv-formal.git
	branch = rv32ib
